* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: #29303b;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*scene*/
.scene {
	width: 200px;
	height: 200px;
	margin: 0px 100px;
}

/*cube*/
.cube {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform: rotateX(-25deg) rotateY(-25deg);
}
.scene.rotateY .cube {
	animation: rotateY 5s infinite;
}
.scene.rotateX .cube {
	animation: rotateX 5s infinite;
}

/*animation*/
@keyframes rotateY {
	0% {
		transform: rotateX(-25deg) rotateY(-25deg);
	}
	25% {
		transform: rotateX(-25deg) rotateY(-115deg);
	}
	50% {
		transform: rotateX(-25deg) rotateY(-205deg);
	}
	75% {
		transform: rotateX(-25deg) rotateY(-295deg);
	}
	100% {
		transform: rotateX(-25deg) rotateY(-385deg);
	}
}
@keyframes rotateX {
	0% {
		transform: rotateX(-25deg) rotateY(-25deg) rotate(0deg);
	}
	25% {
		transform: rotateX(-25deg) rotateY(-25deg) rotate(90deg);
	}
	50% {
		transform: rotateX(-25deg) rotateY(-25deg) rotate(180deg);
	}
	75% {
		transform: rotateX(-25deg) rotateY(-25deg) rotate(270deg);
	}
	100% {
		transform: rotateX(-25deg) rotateY(-25deg) rotate(360deg);
	}
}

/*side*/
.cube div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	opacity: 0.8;
}

/*front*/
.cube .front {
	background: #fa5252;
	transform: rotateY(0deg) translateZ(100px);
}


/*front*/
.cube .front {
	background: #fa5252;
	transform: rotateY(0deg) translateZ(100px);
}


/*back*/
.cube .back {
	background: #f76707;
	transform: rotateY(180deg) translateZ(100px);
}


/*left*/
.cube .left {
	background: #4c6ef5;
	transform: rotateY(-90deg) translateZ(100px);
}


/*right*/
.cube .right {
	background: #12b886;
	transform: rotateY(90deg) translateZ(100px);
}

/*top*/
.cube .top {
	background: #fab005;
	transform: rotateX(-90deg) translateZ(100px);
}

/*bottom*/
.cube .bottom {
	background: #7950f2;
	transform: rotateX(90deg) translateZ(100px);
}


/*cells*/
.cube span {
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
}